.container {
  display: flex;
  flex-direction: row;
  flex: none;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 480px;
  height: 286px;
}

.title-container {
  display: flex;
  flex-direction: row;
  flex: none;

  align-items: center;
  justify-content: center;

  width: 480px;
  height: 30px;
}

.actions {
  display: flex;
  flex-direction: row;
  flex: none;

  align-items: center;
  justify-content: center;

  width: 480px;
  height: 56px;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex: none;

  align-items: center;
  justify-content: center;

  width: 128px;
  height: 56px;
}

.bottom-title-container {
  display: flex;
  flex-direction: row;
  flex: none;

  align-items: center;
  justify-content: center;

  width: 480px;
  height: 24px;
}

.link {
  text-decoration: none;
  text-align: center;
  color: #4c4cff;
}
