.Container {
  position: absolute;
  width: 600px;
  height: 912px;
  top: 128px;
  left: 980px;

  background: #131316;
  border: 2px solid #4c4cff;
}

.Scroll-area {
  width: 600px;
  height: 756px;
  left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;

  border-radius: 0px;
}
