.Modal {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 720px;
  height: 718px;

  background: #1c1c21;
}

.Modal-content {
  padding: 25px;

  min-width: 720px;
  min-height: 718px;
}
