.Container {
  width: 600px;
  height: 912px;
}

.Title {
  width: 600px;
  height: 40px;
}

.Scroll-area {
  /* position: relative; */
  width: 600px;
  height: 756px;
  overflow-y: scroll;
}

.Info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.target {
  position: sticky;
  top: 0;
  left: 0;
  width: 1000px;
  height: 200px;
  background: aqua;
  z-index: 100;
}
