.App-header {
  display: flex;
  flex-direction: row;
  flex: none;

  align-items: center;
  height: 88px;
}

.Content {
  display: flex;
  flex-direction: row;
  flex: none;

  width: 1240px;
}

.Flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: none;
}

.Constructor-container {
  max-width: 178px;
  height: 56px;
}

.Order-feed-container {
  width: 197px;
  height: 56px;
}

.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 112px;
}

.Profile-container {
  width: 207px;
  height: 56px;
  margin-left: auto;
}

a {
  text-decoration: none;
}
